<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>financial</key>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_financial_1.png</string>
			<key>title</key>
			<string>储蓄罐</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>80</string>
			<key>benefit</key>
			<string>0.5</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_2.png</string>
			<key>title</key>
			<string>集邮</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>400</string>
			<key>benefit</key>
			<string>1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_3.png</string>
			<key>title</key>
			<string>钱币收藏</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>1600</string>
			<key>benefit</key>
			<string>3</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_4.png</string>
			<key>title</key>
			<string>银行储蓄</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>8000</string>
			<key>benefit</key>
			<string>16</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_5.png</string>
			<key>title</key>
			<string>高级储户</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>39000</string>
			<key>benefit</key>
			<string>50</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_6.png</string>
			<key>title</key>
			<string>股票</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>156000</string>
			<key>benefit</key>
			<string>200</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_7.png</string>
			<key>title</key>
			<string>高利贷</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>650000</string>
			<key>benefit</key>
			<string>833</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_8.png</string>
			<key>title</key>
			<string>风险投资</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>1620000</string>
			<key>benefit</key>
			<string>3050</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_9.png</string>
			<key>title</key>
			<string>创业投资</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>3250000</string>
			<key>benefit</key>
			<string>10550</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_10.png</string>
			<key>title</key>
			<string>能源开发</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>5200000</string>
			<key>benefit</key>
			<string>27770</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_11.png</string>
			<key>title</key>
			<string>外汇</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>48750000</string>
			<key>benefit</key>
			<string>72220</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_12.png</string>
			<key>title</key>
			<string>白银</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>520000000</string>
			<key>benefit</key>
			<string>2250000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_13.png</string>
			<key>title</key>
			<string>黄金</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>7800000000</string>
			<key>benefit</key>
			<string>9720000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_14.png</string>
			<key>title</key>
			<string>黄金</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>650000000000</string>
			<key>benefit</key>
			<string>277770000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_15.png</string>
			<key>title</key>
			<string>期货</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>22000000000000</string>
			<key>benefit</key>
			<string>13330000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_16.png</string>
			<key>title</key>
			<string>珠宝收藏</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>96500000000000</string>
			<key>benefit</key>
			<string>55550000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_17.png</string>
			<key>title</key>
			<string>博彩</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>1200000000000000</string>
			<key>benefit</key>
			<string>122220000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_18.png</string>
			<key>title</key>
			<string>对冲基金</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>26000000000000000</string>
			<key>benefit</key>
			<string>13050000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_financial_19.png</string>
			<key>title</key>
			<string>投资银行</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>390000000000000000</string>
			<key>benefit</key>
			<string>2130000000000000</string>
		</dict>
	</array>
	<key>business</key>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_business_1.png</string>
			<key>title</key>
			<string>报亭</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>100</string>
			<key>benefit</key>
			<string>1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_2.png</string>
			<key>title</key>
			<string>便利店</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>3410</string>
			<key>benefit</key>
			<string>10</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_3.png</string>
			<key>title</key>
			<string>玩具店</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>68250</string>
			<key>benefit</key>
			<string>100</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_4.png</string>
			<key>title</key>
			<string>花店</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>1360000</string>
			<key>benefit</key>
			<string>1000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_5.png</string>
			<key>title</key>
			<string>咖啡店</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>20470000</string>
			<key>benefit</key>
			<string>10000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_6.png</string>
			<key>title</key>
			<string>快餐连锁</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>273000000</string>
			<key>benefit</key>
			<string>100000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_7.png</string>
			<key>title</key>
			<string>大型超市</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>3640000000</string>
			<key>benefit</key>
			<string>1000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_8.png</string>
			<key>title</key>
			<string>电影院</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>54600000000</string>
			<key>benefit</key>
			<string>10000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_9.png</string>
			<key>title</key>
			<string>商场</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>819000000000</string>
			<key>benefit</key>
			<string>100000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_10.png</string>
			<key>title</key>
			<string>酒店</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>11370000000000</string>
			<key>benefit</key>
			<string>1000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_11.png</string>
			<key>title</key>
			<string>赌场</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>125620000000000</string>
			<key>benefit</key>
			<string>10000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_12.png</string>
			<key>title</key>
			<string>卷烟厂</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>1770000000000000</string>
			<key>benefit</key>
			<string>100000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_13.png</string>
			<key>title</key>
			<string>饮料公司</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>30500000000000000</string>
			<key>benefit</key>
			<string>1000000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_14.png</string>
			<key>title</key>
			<string>煤矿开采</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>482500000000000000</string>
			<key>benefit</key>
			<string>10000000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_15.png</string>
			<key>title</key>
			<string>汽车制造</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>6870000000000000000</string>
			<key>benefit</key>
			<string>100000000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_16.png</string>
			<key>title</key>
			<string>房地产</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>4960000000000000000</string>
			<key>benefit</key>
			<string>1000000000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_17.png</string>
			<key>title</key>
			<string>发电厂</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>2050000000000000000</string>
			<key>benefit</key>
			<string>10000000000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_18.png</string>
			<key>title</key>
			<string>石油开采</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>9860000000000000000</string>
			<key>benefit</key>
			<string>100000000000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_19.png</string>
			<key>title</key>
			<string>航空制造</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>9240000000000000000</string>
			<key>benefit</key>
			<string>1000000000000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_business_20.png</string>
			<key>title</key>
			<string>钻石开采</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>18420000000000000000</string>
			<key>benefit</key>
			<string>10000000000000000000</string>
		</dict>
	</array>
	<key>political</key>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_political_1.png</string>
			<key>title</key>
			<string>收益水桶</string>
			<key>level</key>
			<string>0</string>
			<key>price</key>
			<string>30</string>
			<key>benefit</key>
			<string>50</string>
			<key>benefit2</key>
			<string>300</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_2.png</string>
			<key>title</key>
			<string>网上代购</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>400</string>
			<key>benefit</key>
			<string>100</string>
			<key>benefit2</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_3.png</string>
			<key>title</key>
			<string>开设网店</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>600</string>
			<key>benefit</key>
			<string>0</string>
			<key>benefit2</key>
			<string>1000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_4.png</string>
			<key>title</key>
			<string>奢侈品销售</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>1200</string>
			<key>benefit</key>
			<string>4000</string>
			<key>benefit2</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_5.png</string>
			<key>title</key>
			<string>海外代理</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>5000</string>
			<key>benefit</key>
			<string>0</string>
			<key>benefit2</key>
			<string>4000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_6.png</string>
			<key>title</key>
			<string>中餐厅</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>13200</string>
			<key>benefit</key>
			<string>14000</string>
			<key>benefit2</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_7.png</string>
			<key>title</key>
			<string>连锁加盟</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>50000</string>
			<key>benefit</key>
			<string>0</string>
			<key>benefit2</key>
			<string>160000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_8.png</string>
			<key>title</key>
			<string>国外建厂</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>400000</string>
			<key>benefit</key>
			<string>600000</string>
			<key>benefit2</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_9.png</string>
			<key>title</key>
			<string>跨国公司</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>4000000</string>
			<key>benefit</key>
			<string>0</string>
			<key>benefit2</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_10.png</string>
			<key>title</key>
			<string>出口贸易</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>15000000</string>
			<key>benefit</key>
			<string>1200000</string>
			<key>benefit2</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_11.png</string>
			<key>title</key>
			<string>海运集团</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>80000000</string>
			<key>benefit</key>
			<string>0</string>
			<key>benefit2</key>
			<string>14000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_12.png</string>
			<key>title</key>
			<string>航空运输</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>3600000000</string>
			<key>benefit</key>
			<string>5000000</string>
			<key>benefit2</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_13.png</string>
			<key>title</key>
			<string>海洋勘探</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>20000000000</string>
			<key>benefit</key>
			<string>0</string>
			<key>benefit2</key>
			<string>10000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_14.png</string>
			<key>title</key>
			<string>海外地产</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>130000000000</string>
			<key>benefit</key>
			<string>300000000</string>
			<key>benefit2</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_15.png</string>
			<key>title</key>
			<string>购买岛屿</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>4000000000000</string>
			<key>benefit</key>
			<string>0</string>
			<key>benefit2</key>
			<string>800000000000</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_political_16.png</string>
			<key>title</key>
			<string>发行货币</string>
			<key>level</key>
			<string>1</string>
			<key>price</key>
			<string>800000000000000</string>
			<key>benefit</key>
			<string>20000000000</string>
			<key>benefit2</key>
			<string>00</string>
		</dict>
	</array>
</dict>
</plist>
