<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flipclock_flip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,102}}</string>
                <key>sourceSize</key>
                <string>{60,102}</string>
            </dict>
            <key>flipclock_flip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{60,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,102}}</string>
                <key>sourceSize</key>
                <string>{60,102}</string>
            </dict>
            <key>flipclock_flip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,102}}</string>
                <key>sourceSize</key>
                <string>{60,102}</string>
            </dict>
            <key>number_0_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,338},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_0_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_1_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_1_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,276},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,276},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_3_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,276},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_3_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,223},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_4_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,223},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_4_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_5_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,223},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_5_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,170},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_6_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,170},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_6_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_7_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,170},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_7_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_8_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,117},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_8_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,117},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_9_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,64},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>number_9_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,64},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flipclock_numbers_cropped.pvr</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3aa813b20da35fcb21095ad8f746f19$</string>
            <key>textureFileName</key>
            <string>flipclock_numbers_cropped.pvr</string>
        </dict>
    </dict>
</plist>
