<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flyingbill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,180}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,34},{102,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{96,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,35},{96,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,444},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,61},{162,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,168},{152,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,43},{152,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{124,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,38},{124,164}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,296},{102,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,34},{102,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,140},{154,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,34},{154,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{176,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,52},{176,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,400},{166,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,78},{166,84}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{172,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,69},{172,102}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,33},{150,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,40},{96,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>flyingbill_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,322},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{160,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flyingbills.pvr</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd94f07f622808d7b8c667d6e4899f5f:5bc782ce191e00e41d97d5d0160cb6c0:5e90dbe187f7f9200e300fd115cf36fb$</string>
            <key>textureFileName</key>
            <string>flyingbills.pvr</string>
        </dict>
    </dict>
</plist>
