<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_business_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,510},{143,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{143,108}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,752},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{119,110}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,620},{103,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{103,142}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,725},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{95,140}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,746},{111,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,7},{111,132}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,682},{125,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{125,128}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{175,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{175,110}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,506},{135,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{135,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,636},{121,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{121,140}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{111,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{111,128}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{169,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{169,128}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{121,118}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,885},{121,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{121,130}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,641},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,1},{109,144}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,643},{101,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,6},{101,134}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1070},{95,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{95,124}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,511},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{123,142}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,240},{165,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{165,126}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,282},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{147,128}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_business_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,412},{97,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,1},{97,144}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>icon_financial_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,812},{121,130}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{121,130}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,282},{61,108}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,16},{61,108}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,123},{113,134}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{113,134}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1004},{125,88}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{125,88}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{149,114}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{149,114}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{169,98}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{169,98}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,379},{155,116}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{155,116}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{119,112}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{119,112}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,942},{129,126}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{129,126}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,132},{165,138}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,138}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,796},{87,132}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,2},{87,132}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,759},{127,138}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{127,138}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{131,134}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{131,134}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,122},{181,136}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{181,136}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{181,138}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{181,138}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,408},{147,100}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{147,100}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,402},{77,122}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,13},{77,122}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,136}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{195,136}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_financial_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{141,110}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{141,110}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>icon_political_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,935},{102,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{102,110}</string>
            </dict>
            <key>icon_political_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,102},{168,136}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,136}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,822},{118,138}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{118,138}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{184,118}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{184,118}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,260},{150,146}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{150,146}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,540},{138,140}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{138,140}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,540},{122,140}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{122,140}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,402},{136,146}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{136,146}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,497},{154,142}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{154,142}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,259},{120,118}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{120,118}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,888},{130,114}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{130,114}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{146,138}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{146,138}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,680},{114,140}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{174,122}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{174,122}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,368},{156,136}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{156,136}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_political_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,142},{162,138}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{162,138}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>icon_supercharge_bribe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{139,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,85}}</string>
                <key>sourceSize</key>
                <string>{139,85}</string>
            </dict>
            <key>icon_supercharge_cashblast.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,272},{161,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,128}}</string>
                <key>sourceSize</key>
                <string>{161,128}</string>
            </dict>
            <key>icon_supercharge_doublecash.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1094},{88,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,103}}</string>
                <key>sourceSize</key>
                <string>{88,103}</string>
            </dict>
            <key>icon_supercharge_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,859},{102,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{102,110}</string>
            </dict>
            <key>icon_supercharge_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1008},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons_investments.pvr</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3d8a092f8979967e1682a7d36eae35b$</string>
            <key>textureFileName</key>
            <string>icons_investments.pvr</string>
        </dict>
    </dict>
</plist>
